 <meta charset="UTF-8">
 <div id="h">
     <div class="data_list">
         <div class="data_list_title">
             <img src="/static/images/link_icon.png" />
             <span class="head">友情链接</span>
         </div>
         <div class="data_link">
             <ul>
                 <li>
                     <a target="_blank" href="http://www.java1234.com" title="Java1234">
                         <span>Java1234</span>
                     </a>
                 </li>
                 <li>
                     <a target="_blank" href="http://blog.java1234.com" title="Java1234博客">
                         <span>Java1234博客</span>
                     </a>
                 </li>
                 <li>
                     <a target="_blank" href="http://www.aiwujiwu.top" title="Java源码资源分享网">
                         <span>Java源码资源分享网</span>
                     </a>
                 </li>
             </ul>
         </div>
     </div>
 </div>

