<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${title}+'-Linka39'"></title>
<link rel="stylesheet" href="/static/layui/css/layui.css" />
<link rel="stylesheet" href="/static/css/css.css" />
<style>

	table tr td{
		padding: 10px
	}

</style>
</head>
<div style="padding: 20px">
   	<span class="layui-breadcrumb">
	  <a>首页</a>
	  <a>资源管理</a>
	  <a><cite>帖子审核</cite></a>
	</span>
    <div>
      	<div style="padding: 10px;padding-top: 50px">
      		<table border="1px solid red">
      			<tr>
      				<td>资源名称：</td>
      				<td th:text="${article.name}" colspan="2"></td>
      			</tr>
      			<tr>
      				<td>资源类别：</td>
      				<td th:text="${article.arcType.name}" colspan="2"></td>
      			</tr>
      			<tr>
      				<td valign="top"  width="8%">资源描述：</td>
					<td class="Mysensitive2" width="60%">
						<div class="reviewDiv" th:utext="${article.content}">
						</div>
					</td>
					<td >		<!--敏感词检测展示框-->
						<div id="sensitivediv" class="reviewDiv">
							<div class="Mysensitive" id="sensitivediv2">
								<table class="pure-table" width="100%">
									<tr>
										<th>涉及敏感词：</th>
										<td id="sensitiveWord"></td>
										<td><i class="layui-icon layui-icon-face-smile" ></i></td>
									</tr>
									<tr>
										<th>敏感词数量：</th>
										<td><font th:text="${sensitiveArticle.sensitivecount}"></font></td>
										<td><i class="layui-icon layui-icon-rate-solid" ></i></td>
									</tr>
									<tr>
										<th>文章分词数量：</th>
										<td th:text="${sensitiveArticle.count}">62</td>
										<td><i class="layui-icon layui-icon-camera-fill" ></i></td>
									</tr>
									<tr>
										<th>敏感词情感分类：</th>
										<td><font th:text="${sensitiveArticle.emotion}">涉爆04</font></td>
										<td><i class="layui-icon layui-icon-fonts-strong" ></i></td>
									</tr>
									<tr>
										<th>用户发表文章数：</th>
										<td th:text="${sensitiveArticle.papers}">3</td>
										<td><i class="layui-icon layui-icon-radio" ></i></td>
									</tr>
									<tr>
										<th>用户积分：</th>
										<td th:text="${sensitiveArticle.points}">30</td>
										<td><i class="layui-icon layui-icon-share" ></i></td>
									</tr>
									<tr>
										<th>敏感词评级：</th>
										<td><font th:text="${sensitiveArticle.level}">four</font></td>
										<td><i class="layui-icon layui-icon-form" ></i></td>
									</tr>
								</table>
							</div>
						</div>
					</td>
      			</tr>
				<tr>
					<td>审核提示：</td>
					<td class="Mysensitive2" colspan="2"><b>决策树判断敏感等级为<font>four</font>，审核人请判读敏感词在以上语义是上是否属于敏感内容。</b></td>
				</tr>
      			<tr>
      				<td valign="top">分享资源：</td>
      				<td colspan="2">
      					<a target="_blank" th:href="${article.download1}" th:text="${article.download1}"></a>&nbsp;&nbsp;密码：<font color="red" th:text="${article.password}"></font>
      				</td>
      			</tr>
      			<tr>
      				<td>积分设置：</td>
      				<td th:text="${article.points}" colspan="2"> </td>
      			</tr>
      			<tr>
      				<td valign="top">审核未通过原因：</td>
      				<td colspan="2">
      					<textarea id="reason" style="width: 400px;height: 80px" placeholder="假如审核未通过，请填写未通过原因"></textarea>
      				</td>
      			</tr>
      			<tr>
      				<td colspan="3">
      					<button class="layui-btn" onclick="yes()">审核通过</button>&nbsp
					    <button class="layui-btn layui-btn-danger" onclick="no()">驳回</button>
      				</td>
      			</tr>
      		</table>

	    </div>

	</div>
</div>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.js"></script>
<!--加入th:inline="javascript"用于thymleaf排错-->
<script th:inline="javascript">
	/*<![CDATA[*/
	layui.use(['element','form','layedit'],
			function(){
		  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

	});
	$(function () {
		let sensitiveNative_words = [[${sensitiveArticle.sensitiveWord}]];
		// let wordshtml ="";
		// for(let k in sensitiveNative_words){
		// 	wordshtml += `["<font>`+k+`</font>"-"<font>`+ sensitiveNative_words[k]+ `</font>"]，`
		// }
		// wordshtml.substr(wordshtml.length-1);
		$("#sensitiveWord").html(sensitiveNative_words);
	})
	$(".layui-icon-form").on({
		mouseenter:function() {

			tips = layer.tips('决策树评定的敏感等级：one > two > three > four', this, {
				tips: [3, "#2760c4"]
				,time:0,area: 'auto',maxWidth:500
			});
		},
		mouseleave:function(){
			layer.close(tips);
		}
	});

	function yes(){
		$.post("/admin/article/updateState",
				{"id":[[${article.id}]],"sensitive":1,"state":2},
				function(result){
			if(result.success){
				layer.open({
					  content: '执行成功！',
					//点击确定
					  yes: function(index, layero){
						  history.back(-1);
					  }
					});
			}else{
				layer.msg("执行失败，请联系管理员！");
			}
		},"json");
	}

	function no(){
		if($("#reason").val()==""){
			layer.msg("请输入驳回理由！");
			$("#reason").focus();
			return;
		}
		$.post("/admin/article/updateState",
				{"id":[[${article.id}]],
					"state":3,
					"sensitive":1,
					"reason":$("#reason").val()},
		function(result){
			if(result.success){
				layer.open({
					  content: '执行成功！',
					  yes: function(index, layero){
						  history.back(-1);
					  }
					});
			}else{
				layer.msg("执行失败，请联系管理员！");
			}
		},"json");
	}

	/*]]>*/
</script>
</html>
