
a {
  cursor:pointer;
}

.w1170{
	width: 1170px;
	margin: 0px auto;
	overflow: hidden;
}

.pLeft{
	width: 860px;
	float: left;
}

.pRight{
	width: 300px;
	float: right;
}

.data_list{
	border: 1px solid #E5E5E5;
	padding: 3px;
	background-color: #FDFDFD;
	margin-top: 0px;
	margin-bottom: 5px;
}

.data_list .data_list_title{
	font-size: 15px;
	padding-left:3px;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 10px;
	padding-top: 5px;
}


.data_list .data_search{
	padding: 15px;
	height: 120px;
}


.data_list .data_search .stitle{
    font-size: 14px;
    color: #999;
}

.data_list .data_search ul li{
	float: left;
	padding-left: 15px;
	line-height: 30px;
}

.data_list .datas{
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
}

.data_list .datas ul li{
	line-height: 25px;
}


.data_list .data_link{
	padding-top: 10px;
	padding-left: 5px;
	height: 60px;
}

.data_list .data_link ul li{
	float:left;
	padding-left:15px;
	line-height: 25px;
}


.foot{
	padding-bottom: 20px;
}

.sInfo{
	text-align: center;
	padding-bottom: 5px;
}

.r{
	color: red;
}
.reviewDiv{
	max-height: 350px;
	overflow-y: scroll;
}
.Mysensitive font{
	color: red;
}
.Mysensitive2 font{
	color: red;
}
.Mysensitive i{
	font-size: 20px;
	color: #4b5c84;
	font-weight: bold;
	cursor: pointer;
}

.Mysensitive table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,th {
	padding: 0;
}

.pure-table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	width: 100%;
	border: 1px solid #cbcbcb;
}

.pure-table caption {
	color: #000;
	font: italic 85%/1 arial,sans-serif;
	padding: 1em 0;
	text-align: center;
}

.pure-table td,.pure-table th {
	background: gainsboro;
	border: 1px solid #cbcbcb;
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible;
	padding: .5em 1em;
}

.pure-table thead {
	background-color: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}

.pure-table td {
	border: 1px solid #cbcbcb;
	background-color: transparent;
}

.deleteBtn{
	color: red;
	float: right;
}

.data_list .article .title{
	text-align: center;
	margin-top: 20px;
	font-weight: 700;
	font-size: 24px;
}



.data_list .article .info{
	padding-top: 10px;
	text-align: center;
	padding-bottom: 20px;
}

.data_list .article .downloadBtn{
	float:right;
	padding-bottom: 10px;
	padding-right: 20px;
}

.data_list .article .content{
	padding:10px;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 50px;
}

.data_list .userComment{
	margin: 10px;
	margin-bottom: 40px;
}

.data_list .userComment button{
	margin-top:8px;
	margin-right:5px;
	float: right;
}

.commentList{
	margin: 10px;
}

.commentList  .comment{
	margin-top:20px;
	padding-bottom: 5px;
	border-bottom: 1px #eee dashed;
}

.comment .left_img{
	float: left;
}

.comment .right .top a{
	font-weight: 700;

}

.comment .right .time{
	color: #999;
    margin: 12px 30px 0;
    font-size: 12px;
}

.comment .right .bottom{
	padding-top: 5px;
    padding-bottom: 5px;
}

.left_img img{
	width: 40px;
	height: 40px;
}

.data_result .title a{
	color: #256EB1 ;
	text-decoration: underline;
}

.data_result .summary{
	display:block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 25px;
	padding-top: 0px;
	font-size: 13px;
	color: rgb(0, 0, 0);
}

.data_result .link a{
	color:#008400
}

.data_result .link .publishDate{

}

.data_list .data_result{
	padding: 15px;
}

.data_list .articlePage{
	text-align: center;
}

.data_list .datas .relate li{
	float: left;
	padding-left: 40px;
	width: 380px;
}
.listMessage ul{
	padding: 10px
}
.listUserDownload ul{
	padding: 10px
}
