<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}+'linka39'"></title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
    <link rel="stylesheet" href="/static/css/css.css" />
</head>
<body>
    <div class="w1170" th:include="common/head::#h" style="padding-bottom: 10px;overflow:visible;"></div>
    <div class="w1170">
        <div style="float: left;width: 200px" th:include="common/menu::#m"/>
        <div style="float: right;width: 960px" th:include="user/page/publishArticleSuccessPage::#f"/>
    </div>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script>
        /*<![CDATA[*/
        layui.use(['element','laypage','form'], function(){
        });
        var title ='[[${title}]]';
        $(document).ready(function(){
            if(title=="修改帖子成功页面"){
                $("#context").text("修改成功！")
            }else if(title=="发布帖子成功页面"){
                $("#context").text("发布成功！")
            }
        });
        /*]]>*/

    </script>
</body>
</html>
