<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}+'-linka39'"></title>
    <!--引入layui-->
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
    <link rel="stylesheet" href="/static/css/css.css" />
</head>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/common.js"></script>
<body>
    <div class="w1170" style="padding-bottom: 10px;overflow: visible" th:include="/common/head::#h">
    </div>
    <div class="w1170">
        <div class="pLeft">
            <div class="data_list">
                <div class="data_list_title">
                    <i class="layui-icon layui-icon-app" style="color: black"></i>
                    <span class="head">帖子信息</span>
                </div>
                <div class="article">
                    <div class="title" th:text="${article.name}"></div>
                    <div class="info">
                        <a href="" target="_blank" th:text="${article.user.userName}"></a>&nbsp;&nbsp;
                        分享于&nbsp;&nbsp;<font th:text="${#dates.format(article.publishDate,'yyyy-MM-dd')}"></font>
                        &nbsp;&nbsp;查看次数：&nbsp;<font th:text="${article.view}+' 次'"></font>
                        &nbsp;&nbsp;所需：<font color="red" th:text="${article.points}"></font>&nbsp;积分
                    </div>
                    <div align="center">
                        <!--bshare插件代码-->
                        <div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a>
                            <a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
                    </div>
                    <div class="downloadBtn">
                        <button class="layui-btn layui-btn-radius" onclick="download()">&nbsp;&nbsp;立即下载&nbsp;&nbsp;</button>
                        <button class="layui-btn layui-btn-radius" onclick="vipDownload()" style="background-color: red">&nbsp;&nbsp;VIP免积分下载&nbsp;&nbsp;</button>
                    </div>
                    <div id="content" class="content" th:utext="${article.content}"></div>
                </div>
            </div>


            <div class="data_list">
                <div class="data_list_title">
                    <i class="layui-icon layui-icon-template-1"></i>
                    <span class="head">资源列表</span>
                </div>
                <div class="layui-form">
                    <table class="layui-table" lay-skin="line">
                        <colgroup>
                            <col />
                            <col width="100" />
                            <col width="80" />
                            <col width="120" />
                            <col width="80" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th>资源名称</th>
                            <th>查看次数</th>
                            <th>上传者</th>
                            <th>上传日期</th>
                            <th>积分</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article:${articleList}">
                            <!--使用thymleaf字符串截取-->
                            <td><a target="_blank" th:href="'/article/'+${article.id}" th:title="${article.name}" th:text="${#strings.length(article.name)>30} ? ${#strings.substring(article.name,0,31)}:${article.name}"></a></td>
                            <td th:text="${article.view}+' 次'"></td>
                            <td th:text="${article.user.userName}"></td>
                            <td th:text="${#dates.format(article.publishDate,'yyyy-MM-dd')}"></td>
                            <td th:text="${article.points}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div align="center" th:utext="${pageCode}"></div>
            </div>
        </div>
        <div class="pRight">
            <div class="data_list">
                <div class="data_list_title">
                    <i class="layui-icon layui-icon-fire"></i>
                    <span class="head">热门资源</span>
                </div>
                <div class="datas">
                    <ul>
                        <li th:each="hotArticle,hotArticleStat:${hotArticleList}">
                            <span class="r" th:text="${hotArticleStat.index+1}"></span>-
                            <a target="_blank" th:href="'/article/'+${hotArticle.id}" th:title="${hotArticle.name}" th:text="${#strings.length(hotArticle.name)>17}?${#strings.substring(hotArticle.name,0,18)}:${hotArticle.name}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="w1170" th:include="common/link::#h">
    </div>
    <div class="w1170" style="padding-top: 40px" th:include="common/foot::#f">
    </div>
</body>
<!--thymleaf中取值要加 th:inline="javascript"-->
<script th:inline="javascript">
    /*<![CDATA[*/
    layui.use('element', function(){
        var element = layui.element;
        var tMenu = [[${session.tMenu}]];   //类似于jsp中${}
        $("#"+tMenu).css("color","red");
    });
    /*]]>*/
</script>
</html>
