<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}+'-linka39'"></title>
    <!--引入layui-->
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
    <link rel="stylesheet" href="/static/css/css.css" />
</head>
<body>
    <div class="w1170" style="padding-bottom: 10px;overflow: visible" th:include="/common/head::#h">
    </div>
    <div class="w1170">
        <div class="pLeft">
            <div class="data_list">
                <div class="data_list_title">
                    <i class="layui-icon layui-icon-search" style="color: black"></i>
                    <span class="head">条件检索</span>
                </div>
                <div class="data_search">
                    <div>
                        <table>
                            <tr>
                                <td width="80px" style="padding-top: 0px;padding-bottom: 28px;"><font class="stitle">资源类别：</font></td>
                                <td>
                                    <ul>
                                        <li><a href="/"><span id="t_0">全部</span></a></li>
                                        <li th:each="arcType:${application.allArcTypeList}">
                                            <a th:href="'/article/list/1?typeId='+${arcType.id}" th:title="${arcType.name}">
                                                <span th:id="'t_'+${arcType.id}" th:text="${arcType.name}"></span></a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr style="border-top: dashed 1px #e6e6e6;height: 60px;">
                                <td width="80px" style="padding-top: 0px;"><font class="stitle">关键词：</font></td>
                                <td>
                                    <form action="/article/search" onsubmit="return submitData()">
                                        <div class="layui-row">
                                            <div class="layui-col-md10">
                                                <input type="text" id="q" name="q" autocomplete="off" class="layui-input" style="height: 30px" />
                                            </div>
                                            <div class="layui-col-md2">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="layui-btn layui-btn-radius layui-btn-sm" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " />
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                    </div>
                </div>
            </div>


            <div class="data_list">
                <div class="data_list_title">
                    <i class="layui-icon layui-icon-template-1"></i>
                    <span class="head">资源列表</span>
                </div>
                <div class="layui-form">
                    <table class="layui-table" lay-skin="line">
                        <colgroup>
                            <col />
                            <col width="100" />
                            <col width="80" />
                            <col width="120" />
                            <col width="80" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th>资源名称</th>
                            <th>查看次数</th>
                            <th>上传者</th>
                            <th>上传日期</th>
                            <th>积分</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article:${articleList}">
                            <!--使用thymleaf字符串截取-->
                            <td><a target="_blank" th:href="'/article/'+${article.id}" th:title="${article.name}" th:text="${#strings.length(article.name)>30} ? ${#strings.substring(article.name,0,31)}:${article.name}"></a></td>
                            <td th:text="${article.view}+' 次'"></td>
                            <td th:text="${article.user.userName}"></td>
                            <td th:text="${#dates.format(article.publishDate,'yyyy-MM-dd')}"></td>
                            <td th:text="${article.points}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div align="center" th:utext="${pageCode}"></div>
            </div>
        </div>
        <div class="pRight">
            <div class="data_list">
                <div class="data_list_title">
                    <i class="layui-icon layui-icon-fire"></i>
                    <span class="head">热门资源</span>
                </div>
                <div class="datas">
                    <ul>
                        <li>
                            <a target="_blank" href="/article/522" title="微信小程序实战入门 内含完整实例解析 PDF 下载">微信小程序实战入门 内含完整实例解析 PD</a>
                        </li>
                        <li>
                            <a target="_blank" href="/article/520" title="黑马 宜立方商城 视频教程 下载">黑马 宜立方商城 视频教程 下载</a>
                        </li>
                        <li>
                            <a target="_blank" href="/article/518" title="SpringCloud实战项目 视频教程  下载">SpringCloud实战项目 视频教程 </a>
                        </li>
                        <li>
                            <a target="_blank" href="/article/508" title="企业大数据处理：Spark、Druid、Flume与Kafka应用实践 PDF 下载">企业大数据处理：Spark、Druid、F</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="w1170" th:include="common/link::#h">
    </div>
    <div class="w1170" style="padding-top: 40px" th:include="common/foot::#f">
    </div>
</body>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery.js"></script>
<!--thymleaf中取值要加 th:inline="javascript"-->
<script th:inline="javascript">
    /*<![CDATA[*/
    layui.use('element', function(){
        var element = layui.element;
        var tMenu = [[${session.tMenu}]];   //类似于jsp中${}
        $("#"+tMenu).css("color","red");
    });
    /*]]>*/
</script>
</html>
